.app-container {
  background-color: #15355E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background-color: #F7DB36;
  color: #15355E;
  font-weight: 700;
}

h3 {
  color: #15355E;
  font-weight: 500;
}

.remove {
  background-color: #C23F32 !important;
  color: white;
}

.github {
  background-color: #0D1117 !important;
  color: white;
}